<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{{ await $slots.title()}}} </title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="min-h-screen h-full w-full flex bg-[#F9F9F9] text-gray-800">
  @layouts.sidebar()

  @end  

  {{--  @layouts.headerAdmin()

  @end  --}}

  <body>
    {{{ await $slots.body() }}}
  </body>

</body>

</html>

