
<div class="flex pr-16">
  <img src="{{asset('/resources/images/minghao.jpg')}}" alt="profile" class="w-8 h-8 rounded-full"/>
  <div class="pl-2 flex mt-1">
    <p class="text-sm font-medium">Minghao</p>
  </div>
</div>