<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> SecondWave || Sign In </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body class="bg-black font-primary">
  <section class="flex w-full items-center justify-center mx-auto pl-24">
        <div class="w-1/2 mt-16">
            <div class="flex justify-center items-center my-auto">
                <img src="{{asset('/resources/images/signin2.png')}}" class="w-[600px]"/>
            </div>
            <div class="mt-6">
                <p class="text-white text-center text-lg">
                    if you don’t have an account <br>
                    you can <a href="{{route('/register')}}" class="text-[#49A3AB]"> Register here! </a>
                </p>
            </div>
        </div>

        <div class="mt-16 text-white text-5xl w-1/2">
            
            <div>
                <p class="font-semibold">
                    Sign In to
                </p>
                <p class="font-light mt-4">
                    Secondwave
                </p>
            </div>

            <form method="POST" action="{{ route('auth.login.store') }}" class="max-w-md mt-10">
                {{ csrfField() }}
                <div class="mb-5">
                    <label for="email"></label>
                    <input type="email" name="email" class="bg-[#EAF0F7] text-gray-900 text-sm rounded-lg block w-full p-4 " placeholder="Enter Email" required />
                </div>
                <div class="mb-5">
                    <label for="role"></label>
                    <select name="role" class="bg-[#EAF0F7] text-gray-900 text-sm rounded-lg block w-full p-4" required>
                    <option disabled>Select Role</option>
                    <option>Buyer</option>
                    <option>Seller</option>
                    </select>
                </div>
                <div class="mb-5">
                    <label for="password"></label>
                    <input type="password" name="password" class="bg-[#EAF0F7] text-gray-900 text-sm rounded-lg block w-full p-4 " placeholder="Enter Password" required />
                </div>

                <div class="mb-5">
                    <button type="submit"  class="bg-[#49A3AB] text-lg rounded-lg block w-full p-4 text-white font-medium hover:bg-[#21575B]">Sign In</button>
                </div>
            </form>
        </div>
  </section>
</body>
</html>
