<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> SecondWave || Dashboard </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body class="font-primary">
  <h1>
    Ini halaman Home
  </h1>
</body>
</html>
